<h1>{{ selected_contact.name }}</h1>

<label>ID do Contato</label><br>
<input type="text" [(ngModel)]=selected_contact.id readonly><br>

<label>Nome</label><br>
<input type="text" [(ngModel)]=selected_contact.name><br>


<li *ngFor="let contact of selected_contact.phones ; index as i"><br>
    <label>Telefone {{i}}</label><br>
    <input type="text" [(ngModel)]=contact.number><br>
</li>

<div align="right">
    <button class="button primary" (click)="update()">Atualizar Contato</button>
    <button class="button" (click)="delete()">Deletar Contato</button>
</div>


